<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doubledb.Config.DataSourceDAO.TwoData">
    <select id="selectCountry" resultType="com.doubledb.model.CountryModel" parameterType="Long">
        select `two-data`.country.ID, CONTINENT, COUNTRY from country WHERE id = #{value}
    </select>
</mapper>